<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎤 カラオケ曲メモ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <h1>🎤 カラオケ曲メモ</h1>
        <!-- 説明文 -->
        <section class="description">
            <p>好きな曲がカラオケに入っているかメモできます</p>
        </section>

        <!-- 検索エリア -->
        <form class="search-area" name="search" method="get">
            <input type="text" placeholder="曲名・アーティスト名" class="search-input" name="search">
            <button class="search-button">検索</button>
            <p>検索ワード：{{ search_word }}</p>
        </form>

        <!-- フィルター -->
        <section class="filter-area">
            <p>フィルター:</p>
            <button class="filter-button">すべて</button>
            <button class="filter-button">JOYSOUND</button>
            <button class="filter-button">DAM</button>
            <button class="filter-button active">お気に入り</button>
        </section>

        <!-- 曲カード一覧 -->
   
        <section class="song-list">
            {% if songs %}
                {% for song in songs %}
                <article class="song-card">
                    <h2>{{ song.title }}</h2>
                    <p class="artist">{{ song.artist }}</p>
                    <div class="tag-button">
                        <span class="tag-joysound">JOYSOUND</span>
                        <span class="tag-dam">DAM</span>
                        <button class="favorite-button">★</button>
                    </div>
                </article>
                {% endfor %}
            {% else %}
                <p class="no-result">該当する曲が見つかりません。</p>
            {% endif %}


                </div>
            </article>
        </section>
    </div>
</body>
</html>